.App{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.App-body {
  background: #F9F9F9;
  padding: calc(15px + 3vmin);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  width: 70vw;
  max-width: 500px;
}

.App h1{
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}

.App h2{
  font-size: calc(5px + 2vmin);
  font-weight: 100;
  align-self: flex-start;
  margin: calc(2px + 1vmin) 0 0 0;
}

.App h3{
  font-size: calc(7px + 2vmin);
  font-weight: 400;
  align-self: flex-start;
}

.App .address-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App #stop{
  font-size: calc(3px + 1.5vmin);
  margin: calc(2px + 1vmin);
  padding: calc(1px + 2vmin);
  border: 1px solid #ccc;
  width: 100%;
}

.App #office{
  font-size: calc(3px + 1.5vmin);
  margin: calc(2px + 1vmin);
  padding: calc(1px + 2vmin);
  border: 1px solid #ccc;
  width: 100%;
}

.App #office:hover, #stop:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgb(138, 138, 138);
}

.App #office:focus, #stop:focus {
  outline: 0;
  border: 1px solid rgb(124, 124, 124);
}

.App #submit-button{
  -webkit-appearance: none;
  font-size: calc(5px + 2vmin);
  padding: calc(1px + 2vmin);
  margin: calc(2px + 1vmin);
  background: #40afdb;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #FFF;
  font-weight: 400;
}

.App #loading{
  font-size: calc(5px + 1.5vmin);
  padding: calc(1px + 2vmin);
  margin: calc(2px + 1vmin);
  font-weight: 400;
  width: 100%;
}

.App #submit-button:hover{
  background: rgb(73, 167, 204);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.App #submit-button:active{
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.App ol {
  list-style: none;
  counter-reset: steps;
}

.App ol li{
  counter-increment: steps;
  margin-top: 1em;
}

.App ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #40afdb;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
  font-weight: 400;
}

.App .results{
  background-color: #FFF;
  padding: calc(15px + 2vmin);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
